<h1>
    <div>
        <form action="/thanks" method="POST">
            <label for="machineName">machine name</label>
            <input type="text" name="machineName" id="machineName" required>
            <label for="machineDistro">machine distro</label>
            <select name="machineDistro" id="machineDistro">
                <option value="ubuntu">ubuntu</option>
                <option value="kali">kali</option>
                <option value="debian">debian</option>
            </select>
            <label for="machineRam">dedicated ram</label>
            <select name="machineRam" id="machineRam">
                <option value="1">1Gb</option>
                <option value="2">2Gb</option>
                <option value="3">3Gb</option>
            </select>
            <button>generate</button>
        </form>
    </div>
</h1> 

