<h1>
    <div>
        <form action="/thanks" method="POST">
            <label for="machineName">machine name</label>
            <input type="text" name="machineName" id="machineName" required>
            <label for="machineDistro">machine distro</label>
            <input type="text" id="machineDistro" name="machineDistro" required>
            <label for="machineRam">dedicated ram</label>
            <input type="text" name="machineRam" id="machineRam" required>
            <button>generate</button>
        </form>
    </div>
</h1>