<h1>WELCOME</h1>

<h2>start you environment this instant!</h2>

<button id="myButton">Home</button>

<script type="text/javascript">
    document.getElementById("myButton").onclick = function () {
        location.href = '/generate';
    };
</script>